<a href="https://colab.research.google.com/github/Chowdhurynaseeh/ML_Batch-03/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Step 1: Getting Started with Pandas**

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import numpy as np   # often used together

## **Step 2: Series (1D Data)**

In [ ]:
# A Series is like a labeled 1D array.
# From list
s = pd.Series([10, 20, 30, 40])
print(s)

# With custom index
s2 = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(s2)

# Unlike NumPy, pandas gives labels (index).

0    10
1    20
2    30
3    40
dtype: int64
a    10
b    20
c    30
dtype: int64

## **Step 3: DataFrame (2D Table)**

In [ ]:
# A DataFrame is like an Excel sheet or SQL table.
# From dictionary
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["Dhaka", "Chittagong", "Sylhet"]
}

df = pd.DataFrame(data)
print(df)

      Name  Age        City
0    Alice   25       Dhaka
1      Bob   30  Chittagong
2  Charlie   35      Sylhet

## **Step 4: Inspecting Data**

In [ ]:
# print(df.head())      # First 5 rows
# print(df.tail())      # Last 5 rows
# print(df.shape)       # (rows, cols)
# print(df.info())      # Column types & memory
print(df.describe())  # Stats for numeric columns

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

## **Step 5: Selecting Data**

In [ ]:
# print(df["Name"])        # Select single column (Series)
# print(df[["Name", "City"]])  # Select multiple columns

# print(df.loc[0])         # Row by label
# print(df.iloc[1])        # Row by position (2nd row)
print(df.loc[0, "Name"]) # Single value

Alice

## **Step 6: Filtering Data**

In [ ]:
# print(df[df["Age"] > 28])     # Filter rows where Age > 28
print(df[df["City"] == "Dhaka"])

    Name  Age   City
0  Alice   25  Dhaka

## **Step 7: Adding / Modifying Columns**

In [ ]:
df["Age+5"] = df["Age"] + 5   # Add new column
df["Senior"] = df["Age"] > 30 # Boolean column
print(df)

      Name  Age        City  Age+5  Senior
0    Alice   25       Dhaka     30   False
1      Bob   30  Chittagong     35   False
2  Charlie   35      Sylhet     40    True

## **Step 8: Handling Missing Data**

In [ ]:
df2 = pd.DataFrame({
    "Name": ["Ali", "Sara", "John"],
    "Age": [25, None, 40],
    "City": ["Dhaka", "Khulna", None]
})

# print(df2.isnull())    # Check missing
# print(df2.dropna())    # Drop rows with NaN
print(df2.fillna("Unknown"))  # Replace NaN

   Name      Age     City
0   Ali     25.0    Dhaka
1  Sara  Unknown   Khulna
2  John     40.0  Unknown

## **Step 9: Grouping & Aggregation**

In [ ]:
print(df.groupby("City")["Age"].mean())  # Avg age per city

City
Chittagong    30.0
Dhaka         25.0
Sylhet        35.0
Name: Age, dtype: float64

## **Step 10: Importing & Exporting Data**

In [ ]:
# Save
df.to_csv("people.csv", index=False)

# Load
df_loaded = pd.read_csv("people.csv")
print(df_loaded)

      Name  Age        City  Age+5  Senior
0    Alice   25       Dhaka     30   False
1      Bob   30  Chittagong     35   False
2  Charlie   35      Sylhet     40    True